{% extends 'accounts/base_form.html' %}

{% block title %}Accounts - Change Password{% endblock %}

{% block content %}
<div class="container">
<form class="form-accounts" method="post" action="{% url 'accounts:password' %}">
<h2 class="form-accounts-heading">Please change password of</h2>
<h2 class="form-accounts-heading">{{ username }}</h2>
{% if error_message %}
<p class="text-error"><strong>{{ error_message }}</strong></p>
{% endif %}
{% if info_message %}
<p class="text-success"><strong>{{ info_message }}</strong></p>
{% endif %}
{% csrf_token %}
<input type="password" class="input-block-level" name="password" value="" placeholder="Password"/>
<input type="password" class="input-block-level" name="repassword" value="" placeholder="Input password again"/>
<input type="submit" class="btn btn-large btn-primary" value="Save" />
</form>
</div>
{% endblock %}
