{% extends 'ticketsys/site.html' %}

{% trans i18n %}
{% load staticfiles %}

{% block title %}Ticket - {% trans 'Change Password' %}{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'accounts/css/form.css' %}" type="text/css" media="screen" />
{% endblock %}

{% block main_content %}
<div class="container">
<form class="form-signin" method="post" action="{% url 'accounts:password' %}">
<h1 class="page-header">{% trans 'Change password' %}</h1>
{% if error_message %}
<p class="text-danger"><strong>{{ error_message }}</strong></p>
{% endif %}
{% if info_message %}
<p class="text-success"><strong>{{ info_message }}</strong></p>
{% endif %}
{% csrf_token %}
<input type="password" id="inputNewPassword" class="form-control" name="password" value="" placeholder="{% trans 'New password' %}" required/>
<input type="password" id="inputNewPasswordAgain" class="form-control" name="repassword" value="" placeholder="{% trans 'New password again' %}" required/>
<input type="submit" class="btn btn-lg btn-primary btn-block" value="{% trans 'Save' %}" />
</form>
</div>
{% endblock %}
