{% extends 'ticketsys/site.html' %}

{% load staticfiles %}

{% block title %}Ticket - Change Password{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'accounts/css/form.css' %}" type="text/css" media="screen" />
{% endblock %}

{% block main_content %}
<div class="container">
<form class="form-signin" method="post" action="{% url 'accounts:password' %}">
<h1 class="page-header">Change password</h1>
{% if error_message %}
<p class="text-danger"><strong>{{ error_message }}</strong></p>
{% endif %}
{% if info_message %}
<p class="text-success"><strong>{{ info_message }}</strong></p>
{% endif %}
{% csrf_token %}
<input type="password" id="inputNewPassword" class="form-control" name="password" value="" placeholder="New password" required/>
<input type="password" id="inputNewPasswordAgain" class="form-control" name="repassword" value="" placeholder="New password again" required/>
<input type="submit" class="btn btn-lg btn-primary btn-block" value="Save" />
</form>
</div>
{% endblock %}
