{% extends 'ticketsys/site.html' %}

{% load staticfiles %}

{% block title %}Ticket - Edit Profile{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'accounts/css/form.css' %}" type="text/css" media="screen" />
{% endblock %}

{% block main_content %}
<div class="container">
<form class="form-signin" method="post" action="{% url 'accounts:profile' %}" role="form" id="form">
<h1 class="page-header">Edit Profile</h1>
{% for field in form %}
{% if field.errors %}
{% for error in field.errors %}
<p class="text-danger">{{ error|escape }}</p>
{% endfor %}
{% endif %}
{% endfor %}

{% if info_message %}
<p class="text-success"><strong>{{ info_message }}</strong></p>
{% endif %}

{% csrf_token %}

{% for field in form %}
{{ field }}
{% endfor %}
<input type="submit" class="btn btn-lg btn-primary btn-block" value="Save" />
</form>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
$(function(){
$("#id_email").addClass("form-control").attr("required", "required").attr("placeholder", "Email");
$("#id_phone").addClass("form-control").attr("required", "required").attr("placeholder", "Mobile Number");
});
</script>
{% endblock %}
