{% extends 'ticketsys/site.html' %}

{% load staticfiles %}

{% block main_content %}

<div class="row">
<div class="col-md-12">
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Summmary</th>
      <th>Problem</th>
      <th>Solution</th>
      <th>Status</th>
      <th>Created</th>
    </tr>
  </thead>
  <tbody>
    {% for ticket in tickets %}
    <tr>
      <td><a href="{% url 'ticket:detail' ticket.id %}">{{ ticket.id }}<a></td>
      <td>{{ ticket.summary }}</td>
      <td>{{ ticket.problem }}</td>
      <td>{{ ticket.solution }}</td>
      <td>{{ ticket.status }}</td>
      <td>{{ ticket.create_time }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
</div>

{% if tickets.has_previous or tickets.has_next %}
<div class="row">
  <div class="col-ms-12">
    <nav>
      <ul class="pager">
	{% if tickets.has_previous %}
	<li class="previous"><a href="?page={{ tickets.previous_page_number }}"><span aria-hidden="true">&larr;</span>Older</a></li>
	{% endif %}
	{% if tickets.has_next %}
	<li class="next"><a href="?page={{ tickets.next_page_number }}">Newer<span aria-hidden="true">&rarr;</span></a></li>
	{% endif %}
      </ul>
    </nav>
  </div>
</div>
{% endif %}

{% endblock %}
