{% extends 'ticketsys/site.html' %}

{% load i18n %}
{% load staticfiles %}

{% block title %}Ticket - Browse Tickets{% endblock %}

{% block main_content %}

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
	{% trans 'Query Parameters' %}
	<span class="pull-right">
	  <a href="#" id="button-query-params-toggle" role="button" aria-expanded="false">
	    <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
	  </a>
	</span>
      </div>
      <div class="panel-body" style="display: none" id="panel-query-params">
	<form action="{% url 'ticket:index' %}" class="form-horizontal" method="get" role="form" id="form">
	  <input id="id-page" name="page" type="hidden" value=""/>
	  {% for field in form %}
	  <div class="form-group">
	    <label for="{{ field.id_for_label }}" class="col-md-2 control-label">{{ field.label }}</label>
	    <div class="col-md-4">
	      {{ field }}
	      {% if field.errors %}
	      {% for error in field.errors %}
	      <p class="text-danger">{{ error|escape }}</p>
	      {% endfor %}
	      {% endif %}
	    </div>
	  </div>
	  {% endfor %}
	  <div class="form-group">
	    <button type="button" id="submitButton" class="col-md-offset-5 btn btn-primary">{% trans 'Query' %}</button>
	  </div>
	</form>
      </div>
    </div>
  </div>
</div>

<div class="row">
<div class="col-md-12">
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>{% trans 'Problem' %}</th>
      <th>{% trans 'Solution' %}</th>
      <th>{% trans 'Status' %}</th>
      <th>{% trans 'Created' %}</th>
      <th>{% trans 'Actions' %}</th>
    </tr>
  </thead>
  <tbody>
    {% for ticket in tickets %}
    <tr>
      <td><a href="{% url 'ticket:detail' ticket.id %}">{{ ticket.id }}<a></td>
      <td>{{ ticket.problem }}</td>
      <td>{{ ticket.get_solution_display }}</td>
      <td>{{ ticket.get_status_display }}</td>
      <td>{{ ticket.create_time }}</td>
      <td><a href="{% url 'ticket:comment' ticket.id %}">Comments</a>&nbsp;|&nbsp;<a href="{% url 'ticket:visit' ticket.id %}">Visits</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
</div>

{% if tickets.has_previous or tickets.has_next %}
<div class="row">
  <div class="col-md-12">
    <nav>
      <ul class="pager">
	{% if tickets.has_previous %}
	<li class="previous"><a href="javascript:gotoPage({{ tickets.previous_page_number }})"><span aria-hidden="true">&larr;</span>Older</a></li>
	{% endif %}
	{% if tickets.has_next %}
	<li class="next"><a href="javascript:gotoPage({{ tickets.next_page_number }})">Newer<span aria-hidden="true">&rarr;</span></a></li>
	{% endif %}
      </ul>
    </nav>
  </div>
</div>
{% endif %}

{% endblock %}

{% block script %}
<script class="javascript">
$(function() {
  $("div.form-group input").addClass("form-control");
  $("div.form-group textarea").addClass("form-control")
  $("div.form-group select").addClass("form-control");
  $("#submitButton").click(function() {
    $("#form").submit();
  });
  $("#button-query-params-toggle").click(function() {
    $("#panel-query-params").toggle();
    var button = $("#button-query-params-toggle span");
    if (button.hasClass("glyphicon-chevron-up")) {
      button.removeClass("glyphicon-chevron-up");
      button.addClass("glyphicon-chevron-down");
    } else {
      button.removeClass("glyphicon-chevron-down");
      button.addClass("glyphicon-chevron-up");
    }
  });
});

function gotoPage(page) {
  $("#id-page").val(page);
  $("#form").submit();
}
</script>
{% endblock %}
